<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>f-paper-spinner-fab Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../../iron-icons/iron-icons.html">
    <link rel="import" href="../f-paper-spinner-fab.html">
    <style>
      body { display: flex; flex-direction: column; align-items: flex-start; }
    </style>
  </head>
  <body unresolved>

    <p>An example of <code>&lt;f-paper-spinner-fab&gt;</code>:</p>
    <f-paper-spinner-fab icon="cancel" active></f-paper-spinner-fab>

  </body>
</html>
